* {
	margin: 0; 
}

nav {
	background-color: #ff9f01;
	width: 100%;
	/*position: absolute;*/
	height: 50px;
/*	-webkit-box-shadow: 0 0 0 2px #ff9f01, 0 4px 2px #e88700;
*/	display: block;
}

/* this is the UL inside the navbar */
.sitenav {
	padding: 1%;
	padding-top: 0;
}

/* This styles "orangejuice" on the left hand side of the navbar */
.orange {
	padding-left: 5%;
	padding-right: 25%;
	font-family: 'Dosis', sans-serif;
	font-size: xx-large;
}

/* styles the image of the orange slice */
.orange img {
	height: 45px;
	width: 45px;
	transform: rotate(-15deg);
}

/* styles "orange" in orangejuice in navbar */
.span1 {
	color: #fafafa;
	font-weight: 800;
}

/*styles the span juice in orange juice */
.span2 {
	color: #fafafa;
	font-weight: 100;
}

/* This styles the LI elements in .sitenav */
.sitenav li {
	display: inline;
}

.list {
	padding-right: 3%;
	color: #fafafa;
	font-family: 'Oxygen', sans-serif;
	font-size: medium;
}

/* styles TM to top right of span */
.span3 {
	font-size: 10px;
	vertical-align: super;
}

/*-----------Middle Section---------------*/

.span4 {
	color: rgb(238, 113, 22);
	font-weight: 800;
}

.span5 {
	color: rgb(252, 156, 19);
	font-weight: 100;
}

.span6 {
	font-size: 10px;
	vertical-align: super;
}

.span7 {
	color: rgb(115, 175, 218);
	font-weight: 800;
}

p {
	margin-top: 120px;
	margin-right: 7%;
	border: 1px solid black;
	float: right;
	height: 150px;
	width: 46%;
	font-family: 'Oxygen', sans-serif;
	font-size: 30px;
	color: #ff9600;
	word-spacing: 8px;
	letter-spacing: 2px;
	line-height: 50px;
}

header img {
	width: 450px;
	height: 450px;
	margin-top: 5px;
	margin-left: 45px;
	border: 1px solid blue;
}

input {
	margin-left: 80%;
	margin-top: 1%;
	border: 1px solid rgb(192, 187, 187);
	border-radius: 50%
	height: 35px;
	width: 170px;
	font-size: 20px;
}

.footer {
	background-color: rgb(115, 175, 218);
	height: 50px;
	width: 100%;
	bottom: 0;
	-webkit-box-shadow: 2px 0 0 0 #ff9f01, 0 4px 2px rgb(122, 129, 151)
}


.buttons {
	border: 1px solid black;
	height: 60px;
	width: 43%;
	float: right;
	margin-right: 10%;
	margin-top: 40px; 
	/*margin-left: 30%;*/
}

.buttons li {
	display: inline-block;
	border: 1px solid red;
	 /* why wont my top margin work? */
	margin-left: 10%;
	padding: 15px;
	text-align: center;
	border-radius: 3%;
}

.left {
	background-color: #ff9f01;
}

.right {
	background-color: rgb(115, 175, 218);
}

.buttons li a {
	color: #fafafa;
	text-decoration: none;
	font-family: 'Oxygen', sans-serif;
}
/*.image img {
	height: 490px;
	width: 490px;
	margin-top: 50px;
	margin-left: 25px;
	border: 1px solid blue;
}

.intro {
	float: right;
	border: 1px solid green;
	width: 50%;
	margin-left: 45%;
}






















